<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://media.licdn.com/media/AAYQAQSOAAgAAQAAAAAAAB-zrMZEDXI2T62PSuT6kpB6qg.png"
     alt=""
     height="200px"
     width="500px">
  </div>

  <div class="big-card__title">
    <h1><a href="https://www.linkedin.com/in/fylipe0610/">Profissional procurando emprego na área de tecnologia</a></h1>
  </div>

  <div class="big-card__description">
    <p>Me chamo Fylipe Araújo, tenho 22 anos. Sou professor de Matemática e estudante de Ánalise e desenvolvimento de sistemas. Estou em busca do meu primeiro emprego na área de tecnologia. Possuo noções lógicas, conhecimentos em java,springboot,metodologias ágeis, HTML, css, JavaScript, Angular, entre outros...</p>
  </div>

</div>
