<div class="container__small-card">

  <div class="container__small-card-content">
    <div class="small-card__photo">
      <img src="https://media.licdn.com/dms/image/D4E22AQE_N7gVPOYjtg/feedshare-shrink_1280/0/1696961309602?e=1700697600&v=beta&t=1JbUgJYItOZL3JmQ7lcC_WsvAk3a5qeMaPQaZDZhTqA"
      alt=""
      srcset="">
    </div>


    <div class="small-card__title">
      <h1><a href="https://www.linkedin.com/in/fylipe0610/">Certificado de Angular de módulos angular</a></h1>
    </div>
  </div>



</div>

<div class="container__small-card__separator">
    <hr>
  </div>
